
body {
background: white;
background-image: url(redfloral.jpg);
background-color: #c2ecf9;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
text-align: canter;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #a04750;
  display: flex;
  justify-content: center;
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #792a32;
}
h1 {
 font-family: cursive; 
  color:#682222;
  font-weight; bolded;
}
h3{
  color: #682222;
  font-family: cursive;
  
}
p {
  color: #682222;

}