body {
background: white;
background-image: url(lightbluefloral.jpg);
background-color: #c2ecf9;
background-repeat: no-repeat;
background-size: cover;
min-height: 100vh;
text-align: canter;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #bde8eb;
  display: flex;
  justify-content: center;
}
ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #548d9c;
}
h4{
color: #71adb7;
font-family: cursive
}
h1{
text-align: center;
color: #71adb7;
}
p{
color: #71adb7;
}